label {
  display: block;
  margin-top: 10px;
}
.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}
.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}


.btn{
  font-size: 18px;
  height: 40px;
  width:100px;
  border-radius:15px ;
  font-weight: bold;
  box-shadow: 4px 4px 1px rgb(51, 44, 44);
  color:cornsilk;
  background-color: rgb(109, 166, 231);



}

.upload{
  font-size: 18px;
  height: 40px;
  width:200px;
  border-radius:15px ;
  font-weight: bold;
  box-shadow: 4px 4px 1px rgb(51, 44, 44);
  color:cornsilk;
  background-color: rgb(137, 90, 223);


}
.img-fluid{
  border-radius:5px ;
}